#refresh{
border:1px	solid #fff;
background-color:transparent;
color: fuchsia;
height:30px;
}

#m2{
width:50px ;
border:1px	solid #fff;
background-color:transparent;
color: fuchsia;
margin-left:250px; 
margin-top:3%;
}